.movie-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('static/sample-movie-poster.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.movie-info {
    position: absolute;
    bottom: 20%;
    left: 10%;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.1); /* Reduced opacity for more transparency */
    padding: 20px;
    border-radius: 10px;
}
.movie-info h2 {
    font-size: 2.5rem;
}
.movie-info p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.btn-watch {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}