{% extends "template.html" %}

{% block title %}Home - OTT Recommender{% endblock %}

{% block content %}
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for image in carousel_images %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ loop.index0 }}" class="{% if loop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ loop.index }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for image in carousel_images %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img src="{{ image }}" class="d-block w-100" alt="Slide {{ loop.index }}">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    <h2>Recommended for you</h2>
    <div class="movies" id="user-recommendations">
        {% for movie in user_recommendations %}
            <div class="movie">{{ movie }}</div>
        {% endfor %}
    </div>
    
    <h2>Most viewed</h2>
    <div class="movies" id="top10-recommendations">
        {% for movie in most_viewed %}
            <div class="movie">{{ movie }}</div>
        {% endfor %}
    </div>
    
    <h2>Trending</h2>
    <div class="movies" id="most-popular">
        {% for movie in trending %}
            <div class="movie">{{ movie }}</div>
        {% endfor %}
    </div>

    <h2>Newly arrived</h2>
    <div class="movies" id="most-popular">
        {% for movie in newly_arr %}
            <div class="movie">{{ movie }}</div>
        {% endfor %}
    </div>
    
    <h2>Genre-Based Recommendations</h2>
    <div class="movies" id="genre-recommendations">
        {% for genre, movies in genre_recommendations.items() %}
            <h3>{{ genre }}</h3>
            <div class="movies">
                {% for movie in movies %}
                    <div class="movie">{{ movie }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
